{% extends "layout.html" -%}
{% block body -%}
    <div class="page-header">
        <h2>COGA について</h2>
    </div>
    <div class="container">
        <div class="row">
            <p>
                COGA（コーガ）は，<strong>CO</strong>DEを<strong>GA</strong>ZOに変換するだけのシンプルなサービスです。
            </p>
        </div>
        <div class="row">
            <h3>使い方</h3>

            <p>
                使い方もシンプル，テキストエリアにコードを貼り付けて <span class="btn btn-sm btn-primary"><i class="fa fa-arrow-circle-down"></i>&nbsp;COGA</span>
                をクリックするだけ。<br/>
                言語ごとに関数や変数・予約語に色をつけるシンタックスハイライトにも対応しています。ファイル名が入力されていれば，拡張子から最も適切な言語を推測します。
            </p>
        </div>
    </div>
{% endblock -%}