{% extends "layout.html" -%}
{% block script -%}
    <script>
        $(document).ready(function () {
            $("select#lexer").val("text");
            $("img#previewImage").hide();

            $("input#file_name").change(
                    function (event) {
                        $.ajax({
                            url: "{{ url_for('detect_from_name') }}",
                            type: "POST",
                            data: {
                                name: $("input#file_name").val()
                            },
                            timeout: 10000,
                            success: function (lexerValue) {
                                $("#lexer").val(lexerValue);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                    }
            );
            var base = 'data:image/png;base64,';
            $("button#preview").click(
                    function (event) {
                        if ($("textarea#textbody").val()) {
                            event.preventDefault();
                            $.ajax({
                                url: "{{ url_for('preview') }}",
                                type: "POST",
                                data: {
                                    text: $("textarea#textbody").val(),
                                    lexer: $("select#lexer").val(),
                                    font_size: $("input#font_size").val(),
                                    is_display_linenum: $("input#is_display_linenum:checked").val()
                                },
                                timeout: 10000,
                                success: function (data) {
                                    $("#previewImage").attr('src', base + data).show();
                                    $("body,html").animate({scrollTop: $("#previewImage").offset().top}, 400, "swing");
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert(textStatus + ":" + errorThrown);
                                }
                            });
                        }
                    }
            )
        });
    </script>
{% endblock -%}
{% block body -%}
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group form-group-sm">
                    <input type="name" class="form-control" id="file_name" placeholder="ファイル名"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-sm">
                    <select id="lexer" class="form-control">
                        {% for lexer in lexers %}
                            <option value="{{ lexer[1][0] }}">{{ lexer[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <textarea class="form-control" id="textbody" rows="10" placeholder="画像化したいテキストを入力してください"></textarea>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <button id="preview" class="btn btn-lg btn-primary btn-block"><i
                            class="fa fa-arrow-circle-down fa-2x"></i>&nbsp;COGA
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-sm">
                    <label for="fontSizeInput" class="col-sm-4 control-label">フォント</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="font_size" class="form-control" value="14"/>

                            <div class="input-group-addon">pt</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="is_display_linenum" value="1"
                                       checked>&nbsp;行番号の表示
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <img id="previewImage" class="img-thumbnail"/>
    </div>
{% endblock -%}
