{% extends "layout.html" -%}
{% block body -%}
    <div class="page-header">
        <h2>利用規約</h2>
    </div>

    <div class="container">
        <div class="panel-body">
            COGA を利用するにあたり，下記の内容をお読みいただくようお願いいたします。
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">はじめに</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>「COGA」は hatak （以下，「運営者」）が管理・運営するサービスです。</li>
                    <li>利用規約は運営者と，本サービスを利用するすべての方(以下，「利用者」）との間の一切の関係に適用するものとします。</li>
                    <li>利用者は本規約に同意の上，本サービスを利用するものとします。</li>
                    <li>運営者は本規約を，利用者への予告なしに改訂できるものとします。</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">サービスの一時的な中断</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>運営者は利用者に事前の告知なく，本サービスの提供を中断することがあります。</li>
                    <ul>
                        <li>本サービスのシステムの保守・点検</li>
                        <li>本サービスの稼働のための設備の保守・点検</li>
                        <li>火災・停電などによるシステム機器のトラブルがあった時</li>
                        <li>天変地異などによるサービスの提供ができなくなった時</li>
                        <li>その他，技術面・運用面等で運営者が本サービスの中断が必要と判断した時</li>
                    </ul>
                    <li>本サービスの停止による利用者の損失・損害等に関して，運営者は一切の責任を負わないものとします。</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">免責</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>本サービスの利用による利用者の損失・損害等に関して，運営者は一切の責任を負わないものとします。</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock -%}
